.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: #34495e;
  text-align: justify;
  color: #fff;
  padding-top: 0vw;
  padding-bottom: 0vw;
  text-align: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

body{
  background-color: rgba(209, 206, 204, 0.473);
  font-family: "Gill Sans", sans-serif;
  color: rgb(142, 211, 238);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(139, 167, 212);
  color: rgb(27, 212, 245);
  text-align: center;
}

.image-cropper{
  width: 148px;
  height: 3em;
}

.homeList{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;

}

.overallLists{
  list-style: none;

}

.logo{
  width: 200px;
  height: 180px;
}

.myLists{
  height: 260px
}

.coverGame{
  width: 100px;
  height: 90px;
}

.screenshots{
  width: 250px;
  height: 180px;
}









